/* section destaque */
.banner {
  padding-top: 6vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.banner__title {
  color: var(--text);
  margin-bottom: 8px;
  max-width: 1230px;
  font-size: 36px;
  text-align: center;
}
.banner__images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.banner__img {
  width: 100%;
}

@media (max-width: 1000px) {
  .banner {
    padding-top: 8vw;
  }

  .banner__title {
    margin-top: 3vw;
    font-size: 32px;
  }
  .banner__images {
    width: 100vw;
  }
  .banner__img {
    width: 100%;
    min-width: 100vw;
  }
}
