/* section description */
.description {
  margin-bottom: 5vw;
  height: 40vw;
  background: linear-gradient(
    270deg,
    var(--background-dark) 3.18%,
    var(--background) 51.42%,
    var(--background-dark) 103.84%
  );
  box-shadow: 2px 0px 2px 3px var(--shadow);
}
.description__banner {
  width: 90vw;
  max-width: 1230px;
}
.description__text {
  font-size: 16px;
  color: var(--text-dark);
  margin-right: 2vw;
  width: 40vw;
}
.description__video {
  width: 40vw;
  height: 21vw;
}

@media (max-width: 1000px) {
  .description {
    height: 120vw;
  }
  .description__video {
    width: 90vw;
    height: 50vw;
    padding-top: 5vw;
  }
  .description__text {
    width: 90vw;
    margin-top: 0vw;
    font-size: 24px;
  }
}
