/* menu */
.menu__items {
  min-width: 4.7vw;
  height: 3vw;
  text-align: center;
  list-style-type: none;
  padding: 0px 0.6vw 0px 0.6vw;
}
.menu__link {
  text-decoration: none;
  color: rgb(57, 144, 156);
  font-size: 1rem;
}
.menu__select {
  background-color: rgb(200, 250, 250);
  min-width: 4.7vw;
  height: 3vw;
  text-align: center;
}
.menu__items--width:hover,
.menu__items:hover {
  background-color: rgb(200, 250, 250);
}
.menu__button__contact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 3.4vw;
  margin: 0px 3vw 0px 5vw;
  padding: 1vw;
  background-color: rgb(57, 144, 156);
  border-radius: 0.3vw;
  box-shadow: 2px 2px 3px rgb(151, 235, 247);
  color: #ffffff;
  font-size: 1rem;
}
.icone__contact {
  position: fixed;
  right: 3px;
  top: 20vw;
  background-color: #e5f0ff;
  border: solid 1px #39909c;
  border-radius: 10px;
  padding: 0.6vw;
  z-index: 2;
}
.icone__img {
  margin: 0.2vw;
  width: 1.6vw;
  height: 1.6vw;
}

@media (max-width: 1000px) {
  .menu__items {
    display: none;
  }

  .menu__items--width {
    min-width: 6vw;
    height: 4vw;
    text-align: center;
    padding: 0px 2vw 0px 2vw;
  }
  .menu__link--width {
    text-decoration: none;
    color: rgb(57, 144, 156);
    font-size: 1.4rem;
    line-height: 0.9vw;
  }
  .menu__button__contact {
    height: 5vw;
    padding: 2vw;
    margin: 0px 5vw 0px 5vw;
    font-size: 1rem;
  }
  .icone__contact {
    position: fixed;
    padding: 0.6vw;
    top: 50vw;
  }
  .icone__img {
    margin: 1vw;
    width: 4vw;
    height: 4vw;
  }
}
