/* section modalities*/
.modalities {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#MODALIDADES {
  margin-top: 4vw;
}
#modalities__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.6vw;
  width: 80vw;
}
.modalities__item {
  min-width: 6vw;
  height: 3vw;
  padding: 0.4px 0.6vw 0.4px 0.6vw;
  color: rgb(57, 144, 156);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalities__select {
  box-shadow: 2px 2px 20px rgb(193, 220, 224);
}
.modalities__information {
  position: relative;
  display: flex;
}
.modalities__img {
  width: 60vw;
}
.modalities__description {
  /* position: absolute; */
  top: 0px;
  right: 0px;
  width: 25vw;
  height: 40vw;
  justify-content: flex-start;
  align-items: center;
}
.modalities__title {
  color: #202c2c;
  font-size: 2.2rem;
  margin-top: 3vw;
  text-align: center;
}
.modalities__age {
  color: #202c2c;
  margin-top: 3vw;
  font-size: 0.9rem;
}
.modalities__explanation {
  color: #202c2c;
  margin-top: 3vw;
  font-size: 1rem;
  width: 80%;
}
.modalities__description--purple {
  background: rgba(215, 135, 252, 0.856);
}
.modalities__description--blue {
  background: rgba(64, 68, 96, 0.5);
}
.modalities__description--pink {
  background: rgba(225, 198, 179, 0.9);
}
.modalities__description--green {
  background: rgba(104, 165, 104, 0.9);
}

@media (max-width: 1000px) {
  #modalities__list {
    display: flex;
    flex-flow: row wrap;
  }
  .modalities__item {
    min-width: 18vw;
    height: 6vh;
    margin: 1vw;
    font-size: 1.2rem;
  }
  .modalities__img {
    width: 60vw;
  }
  .modalities__description {
    width: 30vw;
    height: 70vw;
  }
  .modalities__title {
    font-size: 2rem;
  }
  .modalities__age {
    font-size: 1.2rem;
  }
}
