* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal
}
.flex__spacearound{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    font-size:2.4vw;
    color: #303C4C;
    border-bottom: 1px solid #378E9C;
    align-self: center;
    margin-bottom: 3vw;
    text-align: center;
}
.flex__column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


/* section header */
#header{
    /* border-bottom: solid 1px rgb(173, 230, 238); */
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top:0px;
    width: 100vw;
    height: 6vw;
    box-shadow: 2px 2px 20px rgb(193, 220, 224); 
    z-index: 2;
}
.header__img{
    height: 90%;    
    margin-left: 2vw;
}
.header__list__menu{
    display: none;
}

/* menu */
.menu__items { 
    min-width: 4.7vw;
    height: 3vw;
    text-align: center;
    list-style-type: none;
    padding:0px 0.6vw 0px 0.6vw;
}
.menu__link{  
    text-decoration: none;
    color: rgb(57,144,156);   
    font-size: 1vw;
  }
.menu__select{
    background-color: rgb(200,250, 250);
    min-width: 4.7vw;
    height: 3vw;
    text-align: center;
}
.menu__items--width:hover,
.menu__items:hover{
   background-color: rgb(200,250, 250);
} 
.menu__button__contact{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 4vw;
    margin:0px 3vw 0px 5vw;
    padding: 1vw;
    background-color: rgb(57,144,156);
    border-radius: 0.3vw;
    box-shadow: 2px 2px 3px rgb(151, 235, 247);
}
.menu__button__link{
    color: #ffffff;
    font-size: 1.2vw;
}

.icone__contact{
    position: fixed;
    right: 3px;
    top:20vw;
    background-color: #E5F0FF;
    border: solid 1px rgb(57,144,156);
    border-radius: 10px;
    padding: 0.6vw;   
    z-index: 2; 
}
.icone__img{   
    margin: 0.2vw; 
    width: 1.6vw;
    height: 1.6vw;
}
/* section destaque */
.banner{
    padding-top: 8vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
} 
.banner__title{
    color: rgb(130,184,193,1);  
    margin-bottom: 2vw;
    width: 80vw;
    font-size: 2.6vw;
    text-align: center;
}
.banner__images{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    width:80vw;
}
.banner__img{
    width:40vw;
    min-width: 30vw;
}

/* section description */
.description{
    margin-top: 4vw;
    height: 40vw;
    background: linear-gradient(270deg, #378E9C 3.18%, #7AD4D1 51.42%, #378E9C 103.84%);
    box-shadow: 2px 0px 2px 3px rgb(200, 243, 250);
}
.description__banner{
    width:80vw;
}
.description__text{
    font-size:1vw;
    color: #06152b;
    margin-right: 2vw;
    width: 40vw;
}
.description__video{
    width:40vw;
    height: 21vw;
}

/* section education*/
.education{ 
    position: relative;
    padding-top: 6vw;
}
.education__banner{
    width: 80vw;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 2px 2px 20px rgb(193, 220, 224); 
    padding: 1vw;
    background: rgb(244, 249, 253);
}
.education__bannerText{
    flex-grow: 2;
    width:30vw;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
}
.education__title{
    color:#06152b;
    font-size: 2.6vw;
}
.education__bannerImg{
    width: 30vw;
    height:50vh;
}
.education__img{
    width:100%; 
    height:100%;
    border-radius: 40%;
}
.education__text{
    color:#06152b;
    font-size: 1vw;
    margin: 0vw 5vw 0vw 5vw;
}

/* section interval */
.interval{
    padding: 7vw;
}
.interval__img{
    width: 45vw;
}
.interval__text{
    padding: 2px 6vw 2px 6vw;
    background: #378E9C;
    border-radius: 42px;
    color: #E5F0FF;
    font-size: 2vw;
}

/* section teachers */
.teachers__informative{
    width: 80vw;
}
.teachers__description{
    display: flex;
    flex-flow: column nowrap;
    justify-self: start;
    align-items: center;
    padding: 1vw;
    width: 30vw;    
    border: solid 4px #378E9C;
    border-radius: 30px;
    margin: 1vw;
    box-shadow: 2px 2px 20px rgb(193, 220, 224); 
}
.teachers__img{
    height: 20vw;
    box-shadow: 2px 2px 20px rgb(193, 220, 224); 
    border-radius: 50%;
}
.teachers__title{
    font-size: 1.4vw;
    padding: 1vw;
    color: #06152b;
}
.teachers__text{
    font-size: 1vw;
    
    color: #06152b;
}

/* section modalities*/
.modalities{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#MODALIDADES{
    margin-top: 4vw;
}
#modalities__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0.6vw;
    width: 80vw;
}
.modalities__item{
    min-width: 6vw;
    height: 3vw;
    text-align: center;
    padding:0.4px 0.6vw 0.4px 0.6vw;
    color: rgb(57,144,156);   
    font-size: 1vw;
    cursor:pointer;
    display: flex;
    align-items: center;
}
.modalities__select{
    box-shadow: 2px 2px 20px rgb(193, 220, 224);
}
#modalities__group{
    position: relative;
}
.modalities__information{
    position: relative;
}
.modalities__img{
    width:60vw;
    height:45vw;
}
.modalities__description{
    position: absolute;
    top:0px;
    right:0px;
    width:25vw;
    height:45vw;
    justify-content: flex-start;
    align-items: center;
}
.modalities__title{
    color:#202C2C;
    font-size: 2.6vw;
    margin-top:2vw;
    text-align: center;
}
.modalities__age{
    color:#202C2C;
    margin-top: 3vw;
    font-size: 1vw;
}
.modalities__explanation{
    color:#202C2C;
    margin-top: 4vw;
    font-size: 1vw;
    width: 80%;
}
.modalities__description--purple{
    background: rgba(232, 183, 255, 0.8);
}
.modalities__description--blue{
    background: rgba(64, 68, 96, 0.5);
}
.modalities__description--pink{
    background: rgba(225, 198, 179, 0.9);
}
.modalities__description--green{
    background: rgba(104, 165, 104, 0.9);
}

/* section comments*/
#VOZDOSALUNOS{
    margin-top:4vw;
}
.comments{
    width:80vw;
}
.comments__box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 3px #378E9C;
    width: 25vw;
    height: 25vw;
    margin-top: 1vw;
    position: relative;
    border-radius: 2vw;  
}
.comments__img__init{
    width:2vw;
    position: absolute;
    top:1vw;
    left:1vw;
}
.comments__img__end{
    width:2vw;
    position: absolute;
    bottom:1vw;
    right:1vw;
}
.comments__text{
    font-size: 1vw;
    color: #06152b;
    text-align: center;
    width: 20vw;
}
.comments__name{
    font-size: 1vw;
    font-weight:bold;
    color: #06152b;
    position: absolute;
    bottom:3vw;
}
/* section contact */
.contact{
    margin-top:4vw;
    padding: 1vw;
    background-color: #378E9C;
    align-items: flex-start;
    flex-wrap: wrap;
    height:70vh; 
    position: relative;
}
.contact__icone{
    width:2vw;
}
.contact__line{
    border: solid 1px #06152b;
    margin-bottom: 0.6vw;
}
.contact__phone{
    color: #06152b;
}
.contact__whatsapp{
    width: 2vw;
    height: 2vw;
}
.contact__number{
    margin: 0.4vw 0px 0.6vw 0.2vw;
    font-size: 1.4vw;
    text-decoration: none;
}
.contact__instagram__link{
    text-decoration: none;
    list-style: none;
    color: #06152b;
}
.instagram__img{
    margin-top: 0.5vw;
}
.instagram__iframe{
    width:25vw;
    height:25vw;
}
.contact__address{
    align-items: center;
    padding: 0px;
    color: #06152b;
  }
  .contact__map{
      border: solid 5px #fff;
      margin-top: 1vw;
      width:35vw;
      height:42vh;
  }
  .contact__return{
      width:5vw;
      position: absolute;
      bottom: 2vw;
      left:4vw;
  }
  .header__menu--width{
    display: none;
}


  @media(max-width: 1000px){
    .menu__items{
        display:none;
    }
    .header__list__menu{
        display: block;
        background-color: rgb(255, 255, 255);
        border: rgb(255, 255, 255);
        border-radius: 60px;
        margin-left:10vw;
    }
    .header__menu--width{
        display: block;
        background-color: #fff;
        box-shadow: 2px 2px 20px rgb(193, 220, 224); 
        width: 100vw;
        height: 8vh;
        position: absolute;
        top:10vw;
        display:flex;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
    }
    .menu__items--width{
        min-width: 6vw;
        height: 4vw;
        text-align: center;
        padding:0px 2vw 0px 2vw;
    }
    .menu__link--width{  
        text-decoration: none;
        color: rgb(57,144,156);   
        font-size: 2.4vw;
        line-height: 0.9vw;
    }    
}
@media(max-width: 1000px)
{
    .element--width{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    } 
    .title{
        font-size: 4vw;
    }
    #header{
        height: 7vw;
    }
    .menu__button__contact{
        height: 5vw; 
        padding: 2vw;   
        margin:0px 5vw 0px 5vw;
    }
    .menu__button__link{
        font-size: 1.6vw;
    }
    .icone__contact{
        position: fixed;
        padding: 0.6vw; 
        top:50vw;     
    }
    .icone__img{  
        margin: 1vw;  
        width: 4vw;
        height: 4vw;
    }
    .banner__title{
        margin-top: 3vw;
        font-size: 3.4vw;
    }
    .banner__images{
        width:80vw;
    }
    .banner__img{
        width:100vw;
        min-width: 70vw;
    }
    .description{
        height: 105vw;
        margin-top: 8vw;
        border-radius: 30vw;
    } 
    .description__video{
        width:80vw;
        height: 50vw;
        padding-top:5vw;
    }
    .description__text{
        width: 80vw;
        margin-top: 0vw;
        font-size: 2.2vw;
    }
    .education{
        margin: 8vw 0px 8vw 0px;
    }
    .education__bannerText{
        width:35vw;
        height:35vw;
    }
    .education__title{
        font-size: 2.4vw;
    }   
    .education__bannerImg{
        width: 30vw;
        height:35vw;
    }
    .education__text{
        font-size: 2.2vw;
        margin: 0vw 3vw 0vw 3vw;
    }
    .interval__img{
        width: 60vw;
    }
    .interval__text{
        font-size: 3vw;
    }
    .teachers{
        margin-top: 8vw;
    }
    .teachers__description{
        width:80vw;
        height: 40vw;
        flex-flow: column wrap;
        justify-self: center;
    }
    .teachers__img{
       margin-top: 2vw;
        width: 25vw;
        height: 33vw;
    }
    .teachers__title{
        margin-top: 0.6vw;
        font-size: 2.8vw;
        font-weight:bold;
    }
    .teachers__text{
        font-size: 2.2vw;
        width: 50vw;
        font-weight: normal;
    }
    #modalities__list{
        display: flex;
        flex-flow: row wrap;
    }
    .modalities__item{
        min-width: 18vw;
        height: 6vh;
        margin: 1vw;
        font-size: 2.4vw;
    }
    .modalities__img{
        width:80vw;
        height: 70vw;
    }
    .modalities__description{
        width:38vw;
        height:70vw;
    }
    .modalities__title{
        font-size: 2.8vw;
    }
    .modalities__age{
        font-size: 2vw;
    }
    .modalities__explanation{
        font-size: 2vw;
    }

    .student_voice{
        margin: 8vw 0px 8vw 0px;
    }
    .comments__box{
        margin-top: 1vw;
        border-radius: 1vw;  
        width: 80vw;
    }
    .comments__text{
        font-size: 2vw;
        width: 75vw;
    }
    .comments__name{
        font-size:2vw;
        bottom:1vw;
        right: 8vw;
    }
    .contact{
        align-items: flex-start;
        flex-wrap: wrap;
        height: 110vw;
    }

    .contact__whatsapp{
        width: 4vw;
        height:4vw;
    }
    .contact__telephone{
        height: 4vw;
    }
    .contat__flexrow{
        display: flex;
        align-items: center;
    }
    .contact__icone{
        margin:1vw;
        width:4vw;
    }
    .contact__phone{
        font-size: 2.4vw;
        margin-right: 2vw;
    }
    .contact__number{
        margin-left: 2vw;   
        font-size: 2.6vw;
    }
    .instagram__img{
        margin-top: 2vw;
    }
    .instagram__iframe{
        width:45vw;
        height:45vw;
    }
    .contact__instagram__link{
        font-size: 2.4vw;
        margin-top: 1vw;
    }
    .contact__map{
        border: solid 5px #fff;
        margin-top: 1vw;
        width: 42vw;
        height:40vw;
    }
    .contact__return{
        width:10vw;
        position: absolute;
        bottom: 4vw;
        left:23vw;
    }
}

